<div class="container">
  <div class="header">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/F1.svg/2560px-F1.svg.png" height="50">
    <div class="text">EREDMÉNYEK</div>
  </div>
  <div class="table">        
    <app-results-table [results]="aktualisEredmeny" [(selectedResultIndex)]="selectedResultIndex"></app-results-table> <!--  > --> 
  </div>
  <app-podium *ngIf="selectedResultIndex !== undefined" [drivers]="aktualisEredmeny[selectedResultIndex].podium" (close)="selectedResultIndex = undefined"></app-podium>
</div>